<?xml version="1.0"?>
<configuration>
    <system.webServer>
     <directoryBrowse enabled="false"/>
        <rewrite>
            <rules>
                <rule name="React Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
            <outboundRules>
                <clear />
                <rule name="Use only secure cookies" preCondition="Unsecured cookie">
                    <match serverVariable="RESPONSE_SET_COOKIE" pattern=".*" negate="false" />
                    <action type="Rewrite" value="{R:0}; secure" />
                </rule>
                <preConditions>
                    <preCondition name="Unsecured cookie">
                        <add input="{RESPONSE_SET_COOKIE}" pattern="." />
                        <add input="{RESPONSE_SET_COOKIE}" pattern="; secure" negate="true" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <!--Clickjacking security-->
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="Deny" />
            </customHeaders>
        </httpProtocol>
        <!--End clickjacking-->
    </system.webServer>
    <system.web>
        <!-- HTTPOnly attribute -->
        <httpCookies httpOnlyCookies="true" requireSSL="true" />
        <!-- End of HTTPOnly -->
    </system.web>
</configuration>